Package: goblin-speaks
Version: 0.0.0
Architecture: arm64
Section: misc
Priority: optional
Maintainer: gobbolab
Depends: tmux
Description: Goblin Speaks Penny Arcade Framework
 A Python-based penny arcade machine application for Raspberry Pi.
