[Unit]
Description=Goblin Speaks tmux Launcher
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
User=goblin
WorkingDirectory=/home/goblin/goblin-speaks
ExecStart=/usr/bin/tmux new-session -d -s goblin /bin/bash /home/goblin/goblin-speaks/launcher.sh
ExecStop=/usr/bin/tmux kill-session -t goblin

[Install]
WantedBy=multi-user.target